{% autoescape true %}
<div id="page">
	<div class="container">
		<div id="post">
			<h2>About</h2>
			<p>Hexobeat the name is inspired from a song <a href="http://www.youtube.com/watch?v=lAhHNCfA7NI">Mr Saxobeat</a>, suggested by a good friend of mine. I was new to the Google App Engine and wanted to do something using it. Developing game remains close to heart of every programmer, so I decided to develop <a href="http://en.wikipedia.org/wiki/Hex_%28board_game%29">Hex game</a>. Two player game was a new challenge for me. Hopefully I did a decent job with restricted free quota of resources available with app engine. I encourage you to go through <a href="/getinvolved">Get Involved</a> page to know more about the project.</p>
			<p>Some of my profiles :<br><a href="https://twitter.com/vinayaksays">vinayaksays@Twitter</a><br><a href="http://vinayakgarg.wordpress.com/">vinayakgarg@Wordpress</a><br><a href="https://github.com/vinayak-garg">vinayak-garg@Github</a><br><a href="http://www.linkedin.com/in/gargvinayak">Vinayak Garg@LinkedIn</a><br><a href="https://bitbucket.org/vinayakgarg">vinayakgarg@Bitbucket</a><br><a href="http://www.quora.com/Vinayak-Garg-1">Vinayak Garg@Quora</a><br><a href="http://stackoverflow.com/users/558094/vinayak-garg"><img title="profile for Vinayak Garg at Stack Overflow, Q&amp;A for professional and enthusiast programmers" alt="profile for Vinayak Garg at Stack Overflow, Q&amp;A for professional and enthusiast programmers" src="http://stackoverflow.com/users/flair/558094.png" width="208" height="58" /></a><br></p>
			<p>Other contributers :<br>Punit Singh wrote the code to draw hexagons on canvas</p>
		</div>
		<div id="sidebar">
			<p><img src="http://www.gravatar.com/avatar/{{gravatar}}?s=40&d=mm" class="image"/>Welcome <b><span id="nickname">{{nickname}}</span></b>!</p>
			{% if logged == '1' %}
			<a class="btn btn-warning btn-lg" href="{{log_out_url}}">Logout</a>
			{% else %}
			<a class="btn btn-primary btn-lg" href="{{log_in_url}}">Login using Google</a>
			{% endif %}
		</div>
	</div>
</div>
{% if logged == '1' %}
<div class="modal fade" id="gamerequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Reject request</button>
        <button type="button" class="btn btn-primary acceptgame">I accept the challenge!</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if getnick %}
<div class="modal fade" id="nickmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Select your Nickname</h4>
      </div>
      <div class="modal-body">
      	<input type="text" id="selnickname" value="Select Nickname"><br><br>
		<div class="alert alert-danger nickalert hidden">
			This nickname is not available. Try something else.
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary savenick">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endautoescape %}