{% autoescape true %}
<div id="page">
	<div class="container">
		<div id="post">
			<h2>Choose your side and start the game</h2>
			<p><a href="http://en.wikipedia.org/wiki/Hex_%28board_game%29" target="_blank">Hex</a> is a simple game for 2 players. One player plays with blue colour and other with red colour.<br/>Blue plays first and tries to join East & West side. Red tries to join North & South side.<br/>The one to do it first wins!<br/>You can choose board size from 5 to 15. And you can play with computer or with humans (other online players).</p>
			<div id="controls">
			<div class="btn-group sep" data-toggle="buttons">
				<label class="btn btn-warning">
					<input type="radio" name="opponent" value="ai">Computer
				</label>
				<label class="btn btn-warning">
					<input type="radio" name="opponent" value="human">Human
				</label>
			</div>
			<div class="btn-group sep" data-toggle="buttons">
				<label class="btn btn-default">
					<input type="radio" name="playingcolor" value="blue">Blue
				</label>
				<label class="btn btn-default">
					<input type="radio" name="playingcolor" value="red">Red
				</label>
			</div>
			<div class="alert alert-info login hidden">
				You need to <a href="{{log_in_url}}" class="alert-link">login</a> to play with human species.
			</div>
			<div><select class="activeplayers form-control hidden" size="5"></select></div>
			<div class="sep"><input type="range" id="boardsize" value="7" data-slider-min="5" data-slider-max="15" data-slider-value="7"></div>
			</div>
			<div class="sep"><button type="button" class="btn btn-success btn-lg startgame" onclick="startgame()">Start Game</button></div>
			<canvas id="hexboard" width="860" height="280" onclick="move(event)">
				Your browser does not support the HTML5 canvas :(
		  	</canvas>
		</div>
		<div id="sidebar">
			<p><img src="http://www.gravatar.com/avatar/{{gravatar}}?s=40&d=mm" class="image"/>Welcome <b><span id="nickname">{{nickname}}</span></b>!</p>
			{% if logged == '1' %}
			<a class="btn btn-warning btn-lg" href="{{log_out_url}}">Logout</a>
			{% else %}
			<a class="btn btn-primary btn-lg" href="{{log_in_url}}">Login using Google</a>
			{% endif %}
		</div>
	</div>
</div>
<div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Message</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
{% if logged == '1' %}
<div class="modal fade" id="gamerequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Reject request</button>
        <button type="button" class="btn btn-primary acceptgame">I accept the challenge!</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if getnick %}
<div class="modal fade" id="nickmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Select your Nickname</h4>
      </div>
      <div class="modal-body">
      	<input type="text" id="selnickname" value="Select Nickname"><br><br>
		<div class="alert alert-danger nickalert hidden">
			This nickname is not available. Try something else.
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary savenick">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endautoescape %}