{% autoescape true %}
<div id="page">
	<div class="container">
		<div id="post">
			<h2>Get Involved</h2>
			<p>Hexo'beat has been open source from the beginning. You can visit the Bitbucket page of hexoeat - <a href="https://bitbucket.org/vinayakgarg/hexobeat">bitbucket.org/vinayakgarg/hexobeat</a>. There you can browse the code and get the code. Also if you wish to submit an issue, please do so in the issue tracker(requires Bitbucket account).</p>
			<p>This project is quite small, and requires basic knowledge of javascript (read jQuery) and python to get started. However understanding Google's app engine infrastructure may take some time. I have listed some resources below, I found useful when I started with this project. To setup your environment, first get <a href="http://git-scm.com/">Git</a> and <a href="http://www.sourcetreeapp.com/">Git client(Sourcetree)</a>. Next for local testing you will need <a href="https://developers.google.com/appengine/downloads#Google_App_Engine_SDK_for_Python">Google App Engine SDK for Python</a>.</p>
      <p class="leftp">Useful resources :<br><a href="https://developers.google.com/appengine/docs/python/gettingstartedpython27/introduction">Google App Engine - python tutorial</a><br><a href="https://developers.google.com/appengine/docs/python/ndb/queryclass">NDB Query class</a><br><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">Introduction to Object-Oriented JavaScript</a><br><a href="http://api.jquery.com/">Jquery API Documentation</a><br><a href="http://getbootstrap.com/">Twitter Bootstrap</a><br><a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/">Firebug - Mozilla Firefox addon</a><br>Last but not the least <a href="https://www.google.co.in/">Google :)</a>, you will need it every now and then.</p>
		</div>
		<div id="sidebar">
			<p><img src="http://www.gravatar.com/avatar/{{gravatar}}?s=40&d=mm" class="image"/>Welcome <b><span id="nickname">{{nickname}}</span></b>!</p>
			{% if logged == '1' %}
			<a class="btn btn-warning btn-lg" href="{{log_out_url}}">Logout</a>
			{% else %}
			<a class="btn btn-primary btn-lg" href="{{log_in_url}}">Login using Google</a>
			{% endif %}
		</div>
	</div>
</div>
{% if logged == '1' %}
<div class="modal fade" id="gamerequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Reject request</button>
        <button type="button" class="btn btn-primary acceptgame">I accept the challenge!</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if getnick %}
<div class="modal fade" id="nickmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Select your Nickname</h4>
      </div>
      <div class="modal-body">
      	<input type="text" id="selnickname" value="Select Nickname"><br><br>
		<div class="alert alert-danger nickalert hidden">
			This nickname is not available. Try something else.
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary savenick">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endautoescape %}