<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Hexo'beat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/slider.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <script>
    	var logged={{logged}},getnick={{getnick}}
    </script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-slider.js"></script>
	<script src="/js/hex.js"></script>
  </head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<div class="hexagontop"></div>
			<div class="hexagonbottom"></div>
			<h1><a href="#">Hexo'beat</a></h1>
			<span>Play HEX Online with humans or with computer</span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/" title="Home">Play HEX</a></li>
			<li><a href="#" title="">Get Started</a></li>
			<li><a href="#" title="">Stats</a></li>
			<li><a href="/about" title="About">About</a></li>
			<li><a href="/getinvolved" title="Get Involved">Get Involved</a></li>
		</ul>
	</div>
</div>
{% endautoescape %}